* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #c2c2c2;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.category-list {
    list-style: none;
}

.category-list li {
    margin: 5px 0;
}

.category-list a {
    text-decoration: none;
    color: black;
}

.category-list a:hover {
    text-decoration: underline;
}

.wallpapers {
    padding: 10px;
    width: 100%;
}

.wallpapers-items {

    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 

=======
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
>>>>>>> a2c6b2ed5cb965483b8f110d25b140aad76a0387
}

.wallpaper-item-img {
    width: 100%;
    object-fit: cover;
    display: block;
}



.fullscreen-box {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.fullscreen-box-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen-image-box {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;


}

.fullscreen-image-item {
    width: 100%;
}